<h2>Student Registration Form</h2>

<form #studentForm="ngForm" (ngSubmit)="submitForm()">

  <label>Name</label><br>
  <input
    type="text"
    name="name"
    [(ngModel)]="student.name"
    required
    #name="ngModel">

  <div *ngIf="name.invalid && name.touched" style="color:red;">
    Name is required
  </div>

  <br><br>

  <label>Email</label><br>
  <input
    type="email"
    name="email"
    [(ngModel)]="student.email"
    required
    #email="ngModel">

  <div *ngIf="email.invalid && email.touched" style="color:red;">
    Email is required
  </div>

  <br><br>

  <label>Department</label><br>
  <input
    type="text"
    name="department"
    [(ngModel)]="student.department"
    required
    #department="ngModel">

  <div *ngIf="department.invalid && department.touched" style="color:red;">
    Department is required
  </div>

  <br><br>

  <button type="submit" [disabled]="studentForm.invalid">
    Register
  </button>

</form>